<body>

<div class="container mx-auto">
  <div class="navbar">
    <img class="navbar-logo" src="assets/vitalif.png">
    <div class="navbar-buttons">
      <button class="login-button">INICIAR SESION</button>
      <button class="register-button">REGISTRARSE</button>
    </div>
  </div>


  <div class="header">
    <div class="text-container">
      <h1 class="text-5xl font-bold text-green-400-600">¡Transforma tu vida con hábitos saludables!</h1>
      <p class="text-xl text-gray-700 mt-4">Donde cada pequeño cambio es un gran paso hacia una vida plena y feliz. ¿Listo para transformar tu estilo de vida y brillar en tu máximo potencial?</p>
      <button class="register-button">COMENZAR</button>
    </div>
    <div class="image-container">
      <img class="header-image" src="assets/iniciochica.png">
    </div>
  </div>
</div>
</body>

